  #chart_3{
    text-align: center;
  }

  #wrapper{
    /*height: 200px;*/
  }

  #wrapper div {
      height: 15px;
      /*margin: 4px;*/
      width: 225px;
  }

  .red{
    background-color: #EB124F;
  }
  .blue{
    background-color: #165C7C;
  }
  .yellow{
    background-color: #FFBE00;
  }
