#chart_1 {
    height: 200px;
    text-align: center;
    position: relative;
    margin: 4% auto;
  }

  #controls{
    color: #A1A1A1;
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
    text-transform: uppercase;
  }

  #play, #pause{
    position: absolute;
    font-size: 0.8em;
  }

  #play{
    top: 0;
    left: calc(50% + 130px);
  }

  #pause{
    top: 15%;
    left:  calc(50% + 130px);
  }

  #back{
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    width: 200px;
    height: 200px;
    background-color: #A1A1A1;
    border-radius: 0px;
    text-align: center;
  }

  .textBack{
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
    /*text-transform: uppercase;*/
    color: white;
    padding-top: calc(50% - 15px);
    font-size: 1.4em;
  }

  #accent{
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    width: 200px;
    height: 200px;
    background-color: #A1A1A1;
    border-radius: 0px;
  }

  .title{
    position: absolute;
    top: 105%;
    left: calc(50% - 80px);
    color: #A1A1A1;
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
  }

  .legend{
    position: absolute;
    top: 10%;
    left: 35%;
    background-color: black;
    height: 1px;
    width: 0;
  }

  #legend-text{
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
    position: absolute;
    top: 4%;
    left: 300px;
    width: 100px;
    color: white;
    text-align: center;
  }

  .value{
    font-size: 1em;
  }