  #chart_3{
    text-align: center;
  }

  #big-wrapper{
    text-align: center;
        width: 235px;
    margin: auto;
  }

  #wrapper div {
      height: 15px;
      /*margin: 4px;*/
      width: 225px;
  }

  .red{
    background-color: #EB124F;
  }
  .blue{
    background-color: #165C7C;
  }
  .yellow{
    background-color: #FFBE00;
  }




  #shuffelNumbers div {
      width: 75px;
      display: inline-block;
      text-align: center;
      padding-top: 5px;
      opacity: 0;
      font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
      color: rgb(161, 161, 161);
  }
